NODE_ENV=development
PORT=11001
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://replace-me
JWT_ACCESS_SECRET=replace-me
JWT_REFRESH_SECRET=replace-me
JWT_ACCESS_EXPIRES=15m
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=replace-me
ADMIN_NAME=Bluestock Admin
CLOUDINARY_CLOUD_NAME=replace-me
CLOUDINARY_API_KEY=replace-me
CLOUDINARY_API_SECRET=replace-me